# IDE
settings.json
.idea/
.DS_store

# Compiled wasm artifacts
*.wasm

# Node.js
node_modules/

# Docs
local-docs/

# Go
go.work*

# Kubernetes
kubernetes/gitops/flux-system/

# Python
__pycache__/
env/
venv/
.env
.venv

# Redaction docker .env exception
!data-transforms/go/redaction/demo/.env