# IDE
settings.json
.idea/

# Compiled wasm artifacts
*.wasm

# rpk binary
rpk*

# Go
go.work*

# Kubernetes
kubernetes/gitops/flux-system/

# Python
__pycache__/
env/
venv/
.env
.venv

# Redaction docker .env exception
!data-transforms/redaction/demo/.env