name: Run doc tests

on:
  pull_request:
    paths-ignore:
      - '**/docs/**'

jobs:
  setup:
    runs-on: ubuntu-latest
    outputs:
      data-transforms-go: ${{ steps.filter.outputs.data-transforms-go }}
      data-transforms-rust: ${{ steps.filter.outputs.data-transforms-rust }}
    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Determine changed paths
        id: filter
        uses: dorny/paths-filter@v3
        with:
          filters: |
            data-transforms-go:
              - 'data-transforms/go/**'
            data-transforms-rust:
              - 'data-transforms/rust/**'
  run-tests:
    needs: setup
    strategy:
      fail-fast: false # Ensure all matrix jobs run to completion even if one fails
      matrix:
        os: [ubuntu-latest] # Only using Linux for now since macOS takes a long time
    runs-on: ${{ matrix.os }}
    steps:
      - uses: actions/checkout@v4
        with:
          token: ${{ secrets.GITHUB_TOKEN }}

      - name: Test Go transforms
        if: needs.setup.outputs.data-transforms-go == 'true'
        uses: doc-detective/github-action@v1
        with:
          input: ../data-transforms/go
          working_directory: setup-tests
          exit_on_fail: true

      - name: Test Rust transforms
        if: needs.setup.outputs.data-transforms-rust == 'true'
        uses: doc-detective/github-action@v1
        with:
          input: ../data-transforms/rust
          working_directory: setup-tests
          exit_on_fail: true

      - name: Upload debug artifacts
        if: failure()
        uses: actions/upload-artifact@v4
        with:
          name: doc-detective-output
          path: /home/runner/work/_temp/doc-detective-output.json
